.admin-layout-page {
  min-height: 100vh;
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
}

.admin-layout-body {
  flex: 1;
  display: flex;
}

.admin-layout-content {
  flex: 1;
  padding: 32px 40px;
}

.admin-page-wrapper {
  display: flex;
}

.admin-page-content {
  flex: 1;
  padding: 40px 48px;
   display: flex;
  flex-direction: column;
}

.admin-page-footer {
  display: flex;
  justify-content: center;   
  margin-top: auto;         
  padding: 24px 0;
}



